svg {
  
}

body {
  display: flex;

  flex-flow: row wrap;
}

#canvas {
  justify-content: flex-end;

  align-items: flex-start;
}

#graph {
  justify-content: flex-start;

  align-items: flex-start;
}

#fiche {
  justify-content: flex-start;

  align-items: flex-end;
}
